<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBATheO5X4LmKehyXvdhpj1MsLMmgeKiQU</string>
	<key>GCM_SENDER_ID</key>
	<string>847603438626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coinFlip</string>
	<key>PROJECT_ID</key>
	<string>toss-coin-47fca</string>
	<key>STORAGE_BUCKET</key>
	<string>toss-coin-47fca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847603438626:ios:478c8f65a18a3b4abda67b</string>
</dict>
</plist>